@use 'colors.sass' as colors
@use 'fonts.sass' as fonts

.notes-menu-container
    height: 100%
    width: 50% !important
    padding: 10px
    box-sizing: border-box
    color: white
    font-family: "Roboto", sans-serif
    font-size: 16px
    outline: none
    resize: none
    border: none

.notes-menu-container::-webkit-scrollbar 
    width: 12px