@use 'colors.sass' as colors
@use 'fonts.sass' as fonts

.info_questions_menu
    height: 100%
    width: 100% !important
    padding: 10px
    box-sizing: border-box
    display: flex
    flex-direction: row
    gap: 10px
    max-height: 100%
    box-sizing: border-box
    overflow-y: hidden

.need-question-list
    display: flex
    flex-direction: column !important
    gap: 20px
    overflow-y: scroll
    padding: 10px
    box-sizing: border-box
    width: 33% !important
    background-color: colors.$dark0 !important
    border: colors.$dark0 2px solid
    transition: 0.1s linear

.need-question-list::-webkit-scrollbar 
    width: 12px

.growth-questions-container
    border-color: #f79500 !important

.contribution-questions-container
    border-color: #4e91ed !important

.certainty-questions-container
    border-color: grey !important
    
.variety-questions-container
    border-color: #ebb652 !important

.significance-questions-container
    border-color: #f86400 !important

.love-questions-container
    // border-color: #033b55 !important
    border-color: #ec2c04 !important

.need-question-text
    font-family: "Roboto", sans-serif
    font-size: 16px
    color: white

.title-text
    font-family: "Unbounded"
    color: white
    text-align: center