@use 'colors.sass' as colors
@use 'fonts.sass' as fonts

.search-field
    outline: none
    border: none

.search-field::placeholder
    color: colors.$orange0

.search-field:hover
    background-color: black
