@use './colors.sass' as colors
@use './fonts.sass' as font 

.settings-button
    padding: 10px
    width: 100% !important
    box-sizing: border-box
    text-align: center
    transition: 0.1s linear
    user-select: none

.settings-button:hover
    background-color: colors.$orange0 !important
    color: black

