@use 'colors.sass' as colors
@use 'fonts.sass' as fonts


.signup-container
    padding: 20px
    padding-right: 30%
    transition: 0.6s ease-out
    margin: auto

.greeting-text
    font-family: "Roboto", sans-serif
    font-size: 80px
    color: white
    margin: 0
    margin-bottom: 20px

.name-input
    font-family: "Roboto", sans-serif
    background: transparent
    border: none
    outline: none
    color: colors.$orange0
    font-size: 50px